@charset 'utf-8';

$pc : 769px; // スマホ

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}

/* ------------------------------ */
/* base
/* ------------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 10px */
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div, figure,
table, caption, tbody, tfoot, thead, tr, th, td, dl, dt, dd {
  margin: 0;
  padding: 0;
}
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, 
  “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, 
  “ＭＳ Ｐ明朝”, “MS PMincho”, serif, 'Noto Sans JP';
  font-size: 1.6rem;
  color: #000;
  background-color: #fff;
  letter-spacing: 0;
  line-height: 1;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  &[href^="tel:"] {
    color: #000;
    @include pc {
      pointer-events: none;
    }
  }
  @include pc {
    &:hover {
      opacity: .7;
      transition: .3s;
    }
  }
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------ */
/* common
/* ------------------------------ */
.pc {
  display: none;
  @include pc {
    display: block;
  }
}
@include pc {
  .sp {
    display: none;
  }
}
.noscroll {
  overflow: hidden;
}

.link-btn {
  display: block;
  width: 150px;
  height: 40px;
  color: #000;
  border: 1px solid #707070;
  text-align: center;
  line-height: 40px;
  margin: 30px auto 0;
  @include pc {
    width: 200px;
    height: 56px;
    line-height: 56px;
    margin: 66px 0 0;
  }
}

.section {
  padding: 40px 4vw;
  @include pc {
    padding: 60px 4vw;
  }
  &-inner {
    width: 100%;
    @include pc {
      max-width: 1180px;
      margin: 0 auto;
    }
  }
  &-ttl {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    @include pc {
      font-size: 3.6rem;
      margin-bottom: 34px;
    }
    &::before {
      content: "";
      display: block;
      background: url("../img/logo02.png") no-repeat top left/contain;
      width: 32px;
      height: 32px;
      margin: 0 auto 15px;
      @include pc {
        width: 40px;
        height: 40px;
        margin: 0 auto 20px;
      }
    }
  }
}

/* ------------------------------ */
/* header
/* ------------------------------ */
.header {
  width: 100vw;
  height: 60px;
  padding: 0 4vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0);
  transition: .3s;
  @include pc {
    height: 80px;
  }
  &-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pc {
      justify-content: flex-start;
    }
  }
  &-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pc {
      width: 200px;
    }
    .menu-btn {
      @include pc {
        display: none;
      }
      display: block;
      width: 22px;
      z-index: 7;
      div {
        width: 22px;
        height: 2px;
        background-color: #fff;
        transition: .3s;
        &:first-of-type {
          transform: translate(0, -6px);
        }
        &:nth-of-type(3) {
          transform: translate(0, 6px);
        }
      }
      &.active div:first-of-type {
        transform: rotate(45deg) translate(0, 3px);
      }
      &.active div:nth-of-type(2) {
        opacity: 0;
        visibility: hidden;
      }
      &.active div:nth-of-type(3) {
        transform: rotate(-45deg) translate(0, -3px);
      }
    }
  }
  &-logo {
    @include pc {
      width: 200px;
    }
    a {
      display: block;
      color: #fff;
      font-size: 2.4rem;
      letter-spacing: .16em;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include pc {
        font-size: 3.2rem;
      }
      &::before {
        content: "";
        display: inline-block;
        width: 34px;
        height: 34px;
        background: url("../img/logo03.png") top left/cover no-repeat;
        margin-right: 10px;
        @include pc {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  &.change {
    background-color: #fff;
    .header-logo a {
      color: #000;
      &::before {
        background: url("../img/logo02.png") top left/cover no-repeat;
      }
    }
    .header-menu a {
      color: #000;
    }
    .menu-btn div {
      background-color: #000;
    }
  }
  &-menu {
    width: 100vw;
    height: calc(100vh -  60px);
    background-color: #fff;
    position: fixed;
    top: 60px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: .3s;
    z-index: 6;
    @include pc {
      width: 232px;
      height: 50px;
      padding: 10px;
      margin-left: 75px;
      background: transparent;
      position: static;
      visibility: visible;
      opacity: 1;
    }
    &.active {
      visibility: visible;
      opacity: 1;
      transform: none;
    }
    .menu-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include pc {
        flex-direction: row;
        position: static;
        transform: none;
        visibility: visible;
        opacity: 1;
      }
      li:not(:first-of-type) {
        margin-top: 20px;
        @include pc {
          margin-top: 0;
        }
      }
      a {
        display: block;
        color: #000;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 10px;
        @include pc {
          color: #fff;
          font-size: 1.6rem;
        }
      }
    }
  }
  .reservation-btn {
    width: 104px;
    height: 24px;
    color: #fff;
    font-size: 1.45rem;
    background-color: #978f10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18px;
    right: 65px;
    @media screen and (min-width: 576px) and (max-width: 768px) {
      right: 150px;
    }
    @include pc {
      width: 170px;
      height: 54px;
      font-size: 1.6rem;
      top: 13px;
      right: 4vw;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url("../img/calender.png") top left/contain no-repeat;
      margin-right: 4px;
      @include pc {
        width: 22px;
        height: 22px;
        margin-right: 10px;
      }
    }
  }
  .mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
  /* ------- モーダル ----------- */
  .reservation-wrapper {
    width: 92vw;
    height: 80vh;
    padding: 20px;
    background: #fff;
    position: fixed;
    top: 60px;
    left: 4vw;
    transform: scale(0.95);
    z-index: 11;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    @include pc {
      width: 550px;
      height: 600px;
      padding: 29px 60px 90px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.95);
    }
    &.open {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      @include pc {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    .reservation-ttl {
      font-size: 2rem;
      text-align: center;
      border-bottom: 1px solid #f6f6f6;
      padding-top: 20px;
      padding-bottom: 20px;
      @include pc {
        padding-top: 0;
        padding-bottom: 30px;
      }
    }
    .close {
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 20px;
      right: 22px;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
    }
    .reservation-form {
      width: 100%;
      margin-top: 30px;
      @include pc {
        margin-top: 35px;
      }
      dt {
        margin: 14px 0;
      }
      dd {
        margin: 14px 0;
      }
    }
    input::placeholder {
      font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif, 'Noto Sans JP';
      font-size: 1.4rem;
      color: #797878;
    }
    input[type="text"] {
      appearance: none;
      width: 100%;
      height: 30px;
      border: 1px solid #e7e7e7;
      padding: 0 0.5em;
    }
    input[type="email"] {
      appearance: none;
      width: 100%;
      height: 30px;
      border: 1px solid #e7e7e7;
      padding: 0 0.5em;
    }
    .plan-select {
      position: relative;
      select {
        appearance: none;
        display: inline-block;
        width: 100%;
        height: 30px;
        font-family: inherit;
        font-size: 1.4rem;
        border: 1px solid #e7e7e7;
        padding-left: 0.5em;
        margin: 0;
        color: #797878;
        & ::-ms-expand { /* select要素のデザインを無効にする（IE用） */
          display: none;
        }
      }
      &::after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-right: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
        transform: rotate(45deg);
        position: absolute;
        top: 30%;
        right: 1em;
      }
    }
    .calender .flatpickr-input[readonly] {
      border: 1px solid #e7e7e7;
      height: 30px;
    }
    .submit-btn {
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0;
      display: block;
      width: 198px;
      height: 42px;
      background-color: #fff;
      margin: 0 auto;
      border: 1px solid #707070;
      font-family: inherit;
      font-size: 1.6rem;
      @include pc {
        margin-top: 42px;
      }
    }
  }
}

/* ------------------------------ */
/* mainvisual
/* ------------------------------ */
@keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1.1);
    z-index: 1;
  }
  100% {
    opacity: 0;
  }
}
.fv {
  width: 100vw;
  height: calc(100vh - 60px);
  .mainvisual {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .main-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      animation: anime 18s 0s infinite;
      opacity: 0;
      &.mv01 {
        background: url("../img/mainbg01.jpg") no-repeat center/cover;
      }
      &.mv02 {
        background: url("../img/mainbg02.jpg") no-repeat center/cover;
        animation-delay: 6s;
      }
      &.mv03 {
        background: url("../img/mainbg03.jpg") no-repeat center/cover;
        animation-delay: 12s;
      }
    }
    .catch {
      writing-mode: vertical-rl;
      color: #fff;
      font-size: 3.4rem;
      font-weight: bold;
      letter-spacing: .2em;
      line-height: 2.5;
      position: absolute;
      right: 5%;
      bottom: 8%;
      z-index: 3;
      @include pc {
        right: 26%; // 508px / 1920px = 約26%
        bottom: 30%;
      }
    }
  }
}

/* ------------------------------ */
/* intro
/* ------------------------------ */
.intro {
  background: url("../img/bg.jpg") no-repeat center/cover;
  width: 100%;
  padding: 104px 4vw 40px;
  @include pc {
    padding: 119px 4vw 60px;
  }
  &-inner {
    width: 100%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    @include pc {
      max-width: 1180px;
      margin: 0 auto;
    }
  }
  &-ttl {
    font-size: 2.2rem;
    letter-spacing: .5em;
    line-height: 1.8;
    margin-left: .5em;
    text-indent: -2em;
    transition: 1s;
    opacity: 0;
    @include pc {
      font-size: 2.8rem;
      line-height: 2.1;
      margin-right: 85px;
      margin-left: 90px;
    }
  }
  p {
    line-height: 1.4;
    letter-spacing: .3em;
    transition: 2s .5s;
    opacity: 0;
    @include pc {
      line-height: 2.2;
    }
    & + p {
      margin-right: 1rem;
      @include pc {
        margin-right: 102px;
      }
    }
  }
  .sign {
    text-align: right;
  }
  &.fade .intro-ttl {
    opacity: 1;
  }
  &.fade p {
    opacity: 1;
  }
}

/* ------------------------------ */
/* contents
/* ------------------------------ */
.contents {
  padding: 40px 0;
  @include pc {
    padding: 106px 0 78px;
  }
  &-wrapper {
    width: 100%;
    @include pc {
      display: flex;
      justify-content: space-between;
    }
    &:not(:first-of-type) {
      margin-top: 30px;
      @include pc {
        margin-top: 122px;
      }
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      .contents-txt {
        padding-left: 15%;
      }
    }
    .contents-img {
      width: 100%;
      transition: 1s;
      opacity: 0;
      @include pc {
        width: 55%;
      }
    }
    &.fade .contents-img {
      opacity: 1;
      transform: none;
    }
    &.fade .contents-ttl {
      opacity: 1;
      transform: none;
    }
    &.fade .contents-txt p {
      opacity: 1;
      transform: none;
    }
    &.fade .link-btn {
      opacity: 1;
      transform: none;
    }
  }
  &-ttl {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 28px;
    transform: translateY(20px);
    transition: 1s .3s;
    opacity: 0;
    @include pc {
      font-size: 3.6rem;
      margin-bottom: 51px;
      line-height: 1.7;
    }
  }
  &-txt {
    padding: 20px 4vw;
    @include pc {
      padding: 0;
      width: 38%;
    }
    p {
      line-height: 2;
      transform: translateY(20px);
      transition: 1s .6s;
      opacity: 0;
    }
  }
  .link-btn {
    transform: translateY(20px);
    transition: 1s .9s;
    opacity: 0;
  }
}

/* ------------------------------ */
/* plan
/* ------------------------------ */
.plan {
  padding: 40px 4vw;
  background: url("../img/bg02.jpg") no-repeat top left/cover;
  @include pc {
    padding: 60px 4vw 110px;
  }
  &-wrapper {
    width: 100%;
    @include pc {
      display: flex;
      justify-content: space-between;
    }
  }
  &-box {
    @include pc {
      width: 28%;
      margin-top: 29px;
    }
    &:not(:first-of-type) {
      margin-top: 20px;
      @include pc {
        margin-top: 29px;
      }
    }
    &.fade .plan-img {
      transform: none;
      opacity: 1;
    }
    &.fade .plan-ttl {
      transform: none;
      opacity: 1;
    }
    &.fade .plan-txt p {
      transform: none;
      opacity: 1;
    }
  }
  .plan-img {
    height: 209px;
    transform: translateY(20px);
    transition: 1s;
    opacity: 0;
    img {
      height: 209px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .plan-txt {
    padding: 24px 0;
    @include pc {
      padding: 26px 0;
    }
    p {
      line-height: 2;
      transform: translateY(20px);
      transition: 1s .6s;
      opacity: 0;
    }
  }
  .plan-ttl {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    transform: translateY(20px);
    transition: 1s .3s;
    opacity: 0;
    @include pc {
      margin-bottom: 22px;
    }
  }
}

/* ------------------------------ */
/* info
/* ------------------------------ */
@keyframes tab-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes tab-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.tabs-wrapper {
  transform: translateY(20px);
  transition: 1s;
  opacity: 0;
  &.fade {
    opacity: 1;
    transform: none;
  }
  .info-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    @include pc {
      margin-bottom: 25px;
    }
    li {
      margin: 10px;
      a {
        display: block;
        color: #000;
        &.active {
          border-bottom: 1px solid #000;
        }
      }
    }
  }
  .info-contents {
    display: none;
    &:first-of-type.active {
      display: block;
      animation: tab-left 1s;
    }
    &:nth-of-type(2).active {
      display: block;
      animation: tab-right 1s;
    }
    .info-list {
      @include pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
      li {
        @include pc {
          width: 48%;
        }
      }
      a {
        color: #000;
      }
    }
    .info-wrapper {
      width: 100%;
      background-color: #f6f6f6;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 15px 0;
    }
    .info-img {
      width: 103px;
      height: 100px;
      margin-right: 15px;
      img {
        width: 103px;
        height: 100px;
        object-fit: cover;
      }
    }
    .info-txt {
      width: calc(100% - 118px); // 103px + 15px
      @include pc {
        width: 100%;
        padding-left: 22px;
      }
      time {
        margin-bottom: 10px;
        font-size: 1.4rem;
      }
      p {
        line-height: 2;
      }
    }
  }
}

/* ------------------------------ */
/* access
/* ------------------------------ */
.access {
  padding: 40px 4vw;
  background: url("../img/bg.jpg") no-repeat center/cover;
  @include pc {
    padding: 80px 4vw 110px;
  }
  .contents-wrapper {
    padding-top: 20px;
    .contents-txt {
      transform: translateY(20px);
      transition: 1s .6s;
      opacity: 0;
    }
    &.fade .contents-txt {
      opacity: 1;
      transform: none;
    }
    address {
      line-height: 2;
      dt {
        font-weight: 700;
      }
      dd {
        margin: 4px 0;
      }
    }
    .note {
      line-height: 2;
      margin-top: 5px;
    }
  }
  .map {
    width: 100%;
    transform: translateY(20px);
    transition: 1s .9s;
    opacity: 0;
    @include pc {
      width: 795px;
      margin: 67px auto 0;
    }
    iframe {
      width: 100%;
    }
    &.fade {
      opacity: 1;
      transform: none;
    }
  }
}

/* ------------------------------ */
/* footer
/* ------------------------------ */
.footer {
  width: 100vw;
  &-inner {
    padding: 40px 4vw;
    background: url("../img/bg3.jpg") no-repeat center/cover;
    @include pc {
      padding: 64px 4vw 61px;
    }
  }
  &-logo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: .16em;
    @include pc {
      font-size: 3.2rem;
      margin-bottom: 44px;
      letter-spacing: .18em;
    }
    &::before {
      content: "";
      display: block;
      background: url("../img/logo02.png") top left/contain no-repeat;
      width: 32px;
      height: 32px;
      margin: 0 auto 15px;
      @include pc {
        width: 40px;
        height: 40px;
        margin: 0 auto 20px;
      }
    }
  }
  &-nav {
    writing-mode: vertical-rl;
    width: 100px;
    margin: 0 auto;
    ul {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 40px;
      @include pc {
        margin-bottom: 96px;
      }
      a {
        color: #000;
        font-size: 1.8rem;
        letter-spacing: 1em;
      }
    }
  }
  address {
    text-align: center;
    line-height: 2;
    .zip {
      margin-right: 20px;
    }
    .tel {
      margin-right: 20px;
    }
  }
  .cr {
    width: 100vw;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    small {
      font-size: 1.2rem;
      color: #fff;
    }
  }
}